{% extends 'base.html.twig' %}

{% block body %}
    <div class="row form-title"> 
        <div class="col s12">
            <h1>Liste des catégories</h1>
        </div>
    </div>
    <table class="bordered highlight responsive-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('administration_category_show', { 'id': category.id }) }}" class="details-button cyan lighten-1 waves-effect waves-light btn col s12 l6 offset-l6">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('administration_category_edit', { 'id': category.id }) }}" class="waves-effect waves-light btn col s12 l6 offset-l6">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="col s12 add-button">
        <a href="{{ path('administration_category_new') }}" class="teal darken-3 waves-effect waves-light btn col s8 offset-s2">Créer une nouvelle catégorie</a>
    </div>
{% endblock %}
