{% extends 'public.html.twig' %}

{% block body %}
    <div class="row" id="lastArticles">
        <ul class="collection with-header">
            <li class="collection-header">
                <div class="row">
                    <h4 class="col s12 m7 l8">{{ category.name }}</h4>
                </div>
            </li>
            {% for article in categoryArticles %}
                <li class="collection-item">
                    <div class="content-item">
                        <div class="category"><b>{{ article.category.name }}</b></div>
                        <h5 class="title">{{ article.name }}</h5>
                        <div class="content">{{ article.content | striptags[:300] | raw}}... <a href="#"><i>Voir plus</i></a></div>
                        <div class="tags">
                            {% for tag in article.tags %}
                                <div class="chip">
                                    {{ tag.name }}
                                </div>
                            {% endfor %}
                        </div>
                        <div><i>Le {{ article.publicationDate | date('d/m/Y') }}, par {{ article.author }} ({{ nb_comments(article.id) }} commentaire{% if nb_comments(article.id) > 1 %}s{% endif %})</i></div>
                    </div>
                    <a href="#!" class="secondary-content">
                        <i class="material-icons tooltipped"  data-position="right" data-delay="20" data-tooltip="Voir l'article">send</i>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
