{% extends 'public.html.twig' %}

{% block body %}
    <div class="row" id="lastArticles">
        <ul class="collection with-header">
            <li class="collection-header">
                <div class="row">
                    <h4 class="col s12 m7 l8">Les derniers articles</h4>
                    <a href="{{ path('all_articles', { 'id': 1 }) }}" class="waves-effect waves-light btn col s12 m5 l4">Tous les articles</a>
                    {{ form_start(form) }}
                        <div class="input-field col s12 m5 l4">
                            {{ form_row(form.query) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </li>
            {% for article in lastArticles %}
                <li class="collection-item">
                    <div class="content-item">
                        <div class="category"><b><a href="{{ path('category_articles', { 'id': article.category.id }) }}">{{ article.category.name }}</a></b></div>
                        <h5 class="title">{{ article.name }}</h5>
                        <div class="content">{{ article.content | striptags[:300] | raw}}... <a href="#"><i>Voir plus</i></a></div>
                        <div class="tags">
                            {% for tag in article.tags %}
                                <div class="chip">
                                    {{ tag.name }}
                                </div>
                            {% endfor %}
                        </div>
                        <div><i>Le {{ article.publicationDate | date('d/m/Y') }}, par {{ article.author }}</i></div>
                    </div>
                    <a href="{{ path('details_article', { 'id': article.id }) }}" class="secondary-content">
                        <i class="material-icons tooltipped"  data-position="right" data-delay="20" data-tooltip="Voir l'article">send</i>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
