{% extends 'public.html.twig' %}

{% block body %}
    <div class="row" id="lastArticles">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Les derniers articles</h4></li>
            {% for article in lastArticles %}           
                <li class="collection-item">
                    <div>
                        <h5 class="title">{{ article.name }}</h5>
                        <div><i>Catégorie : {{ article.category.name }}</i></div>
                        <div><i>Publié le {{ article.publicationDate | date('d/m/Y') }}</i></div>
                        <div><i>Par {{ article.author }}</i></div>
                        {% for tag in article.tags %}
                            <div class="chip">
                                {{ tag.name }}
                            </div>
                        {% endfor %}
                    </div>
                    <a href="#!" class="secondary-content">
                        <i class="material-icons tooltipped"  data-position="right" data-delay="20" data-tooltip="Voir l'article">send</i>
                    </a>
                </li> 
            {% endfor %}
        </ul>  
    </div>
{% endblock %}