{% extends 'base.html.twig' %}

{% block body %}
    <div class="row form-title"> 
        <div class="col s12">
            <h1>Édition article</h1>
        </div>
    </div>
    <div class="row form-content">
        <div class="col s12">
            {{ form_start(form) }}
                <div class="row">
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            {{ form_row(form.name) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            {{ form_row(form.content) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            {{ form_row(form.author) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            {{ form_widget(form.category) }}
                            {{ form_errors(form.category) }}
                            {{ form_label(form.category) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            {{ form_widget(form.tags) }}
                            {{ form_errors(form.tags) }}
                            {{ form_label(form.tags) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s5 m4 l3" id="submit">
                        <input type="submit" class="waves-effect waves-light btn col s12" value="Modifier" />
                    </div>
                    <div class="col s5 m4 l3">
                        {{ form_start(delete_form) }}
                            <input type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}
                    </div>
                    <div class="col s5 m4 l3">
                        <a href="{{ path('administration_article_index') }}" class="waves-effect waves-light btn red col s12">Retour</a>
                    </div>
                </div>
            {{ form_end(form) }} 
        </div>
    </div>
   {{ tinymce_init() }}


    <ul>
        <li>
            <a href="{{ path('administration_article_index') }}">Retour à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
